In [1]:
import pandas as pd
dreams = pd.read_csv('./dreams.tsv', sep='\t', header=None)

In [2]:
dreams = dreams.dropna()
dreams.head(10)

                                                    0
0   I have a speech for class and I am speaking ab...
1   Next thing I know I'm my normal 13 year old se...
2   I had a dream where I was home alone and this ...
3   So for about the past week i’ve been quitting ...
4   So first of all, hello everyone! This is my fi...
5   I had a dream where i was at the beach with my...
7   How I think this relates to my real life situa...
9   I keep having this dream. That I killed someon...
10  I keep having dreams of moving house, and one ...
11  Im just in this haze of energy right now, Righ...

In [3]:
dreams[0] = dreams[0].str.lower()
dreams.head()
dreams[0] = dreams[0].str.replace('[^a-zA-Z0-9 ]+', ' ')
dreams.head()

                                                   0
0  i have a speech for class and i am speaking ab...
1  next thing i know i m my normal 13 year old se...
2  i had a dream where i was home alone and this ...
3  so for about the past week i ve been quitting ...
4  so first of all  hello everyone  this is my fi...

In [4]:
dreams[0] = dreams[0].str.replace(r'[ ]{2,}', ' ')
dreams.head()

                                                   0
0  i have a speech for class and i am speaking ab...
1  next thing i know i m my normal 13 year old se...
2  i had a dream where i was home alone and this ...
3  so for about the past week i ve been quitting ...
4  so first of all hello everyone this is my firs...

In [5]:
# a lot of these posts include urls that need out
dreams[0] = dreams[0].str.replace(r'http\S+', '')

In [6]:
dreams.to_csv('clean-dreams.txt', sep='\n', index=False, header=False)